table {
  table-layout: fixed;
  border-spacing: 0;
  background: none;
  padding: 0;
  margin: 0;
  cursor: default;
  border-collapse: collapse;
}

tr {
  height: 1.5em;
}

th, td {
  border: 1px solid #2b2b2b;
  padding: 0.15em 0.25em;
}